.main {
  height: 100vh;
  background: #F4EAEA;
}
.controlButtons{
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 120px;
  margin: 0 auto;
}
.controlBtn{
  cursor: pointer;
  font-size: 20px;
  width: 350px;
  height: 70px;
  background: #3AF2D1;
  border-radius: 7px ;
  outline: none;
  border: none;
}
.allRoomsBtn{
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px ;
  display: block;
  margin: 120px auto 0;
  width: 250px;
  height: 60px;
  background: #B1AFAF;
}